*{
    box-sizing: content-box;
}

.box{
    width: 100px;
    height: 100px;
    background: #ff1493;
    padding: 20px;
    border: 10px solid #0000ff;
    margin: 10px 50px 30px 5px;
    display:inline-block;
    /*      12 h 15h  18h  21h*/
}

.box-2{
    width: 50px;
    height: 50px;
    background: #9932cc;
    padding: 50px;
    margin: 50px;
    display: inline-block;
}

/* BOX SIZING*/

.box-3{
    background: #0000ff;
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    display: inline-block;
}